* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: url('https://images-eu.ssl-images-amazon.com/images/I/61Wvdn29vZL.png');
  background-size: 20%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tetrisViewer {
  height: 800px;
  width: 500px;
}

.line {
  display: flex;
  width: 100%;
}

.square {
  height: 100%;
  border: 1px solid white;
  background-color: #9EAD86;
}

.empty {
  background-color: black;
}

p {
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}
